header {
    background-color: aquamarine; /*Cor de fundo do cabeçalho*/
    padding: 25px; /*Tamanho/preenchimento do cabeçalho*/
    display: flex; /* Responsavel por tornar os itens flex e deixar lado a lado*/
    justify-content: center;/*Organização dos conteúdos dentro do canbeçalho*/
    gap: 20px; /*espaçamento entre os elemementos (h1 e img)*/
    align-items: center; /*Alinhamento dos itens*/

}

header h1{

    color: darkkhaki; /*Cor da letra*/
    font-size: 25px; /*Tamanho da fonte/letras*/
    font-family: cursive; /*Mudar a fonte*/
}

/*Ajustar Imagem do header*/

header img{
    width: 70px; /*largura da logo*/

}
/*para colocar uma classe coloque o "." primeiro antes do nome da classe para o css identifica-la*/
.joaquim {
    padding: 150px; /*Preenchimento da sessão*/
    background-color: blueviolet; /*Cor de fundo*/
    display: flex; /*Deixando flex/ lado a lado*/
    justify-content: center;/*justificando ao centro*/
    align-items: center;/*alinhando os itens ao centro*/
    gap: 20px;/*Espaço/ respiro entre os itens*/
}

.renato{
    padding: 150px;
    background-color: blue;
}

.renato i{
    font-size: 100px;
    color: rgba(0, 0, 0, 0.719);

}

.joao{
    padding: 150px;
    background-image: url(imagens/cafepixabay.jpg); /*Caminho da imagem*/
    background-position: bottom;/*Posição da imagem*/
    background-size: cover;/*preenchimento total da imagem*/
}


footer{
    background-color: aquamarine;/*Cor de fundo do rodapé*/
    text-align: center; /*Alinhamento do texto*/
    padding: 23px;/*Tamanho da caixa*/
}

    footer p{
    color: blue;/*Cor da Letra*/
    font-size: 25px;/*Tamanho da letra*/
    }

    footer .primeiro-nome{
        color: chocolate;
    }
