/*LINK GOOGLE FONT IMPORT*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



/*Estilizando O HEADER*/

header {
    padding: 25px; /*Responsavel pelo preenchimento interno*/
    background-color: black; /*Cor de fundo*/ 
    display: flex; /*Tornando os itens flex lado a lado*/
    justify-content: center; /*justificando o conteudo ao centro*/
    gap: 50px; /*espaço entre os elementos*/
    align-items: center; /*responsavel por alinhar verticalmente os itens*/
}
/*Estilizando a imagem se for icone estilizar igual texto*/
header img{
    width: 150px;
    height: 200px;
}
/*Estilizando o título*/
header h1{
    color: #f2ab07;/*cor da letra*/
    font-size: 36px;   /*tamanho da letra*/
    font-family: "Inter", sans-serif; /*FONTE DO TEXTO*/
}


.list-menu ul{  /*Alteracão na lista nao ordenada elemento pai*/
    display: flex; /*Tornando as (li) flex/lado a lado*/
    justify-content:center; /*Deixando elas centralizadas*/
    gap: 20px; /*Espaço entre as (li)*/
    
}

.list-menu ul li{ /*Alteração da lista (li) elemento filho*/
    list-style: none;  /*removendo o estilo da lista aplicado por padrão*/
}

.list-menu ul li a{
    text-decoration: none; /*remoção do sublinhado (decoração do texto: nenhuma*/
    color:  #f2ab07;
    font-family: "Inter", sans-serif; /*FONTE DO TEXTO*/
}


/*Fim do cabeçalho*/

/*Inicio primeira sessão*/

.primeira-section{
    padding: 150px; /*Preenchimento/tamanho*/
    background-color: black;/*cor de fundo*/
    display: flex; /*tornando lado a lado*/
    justify-content: center;/*Justificando o conteudo ao centro*/
    align-items: center;/*Alinhamento vertical dos itens*/
    gap: 60px;/*espaço entre os elementos*/
}

.primeira-section img{
    width: 300px; /*Largura imagem*/
    height: 320px;/*altura imagem*/
    
}

.primeira-section p{
    color: white;/*cor da letra*/
    font-size: 30px;/*tamanho da letra*/
     font-family: "Inter", sans-serif; /*Tipo de fonte*/
}

.primeira-section span{
    font-size: 40px;
    color: #f2ab07;  
}
/*Fim primeira sessão*/
/*Inicio Segunda sessão*/

.segunda-section{
    background-color: black;
    padding: 150px;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    flex-direction: column;
}

.segunda-section i{
    font-size: 50px; /*tamanho do icone*/
    color: #f2ab07;   /*cor do icone*/
}

.segunda-section p{
    color: white; /*cor da letra*/
    font-size: 30px;/*tamanho da letra*/
    font-family: "Inter", sans-serif; /*tipo de fonte*/ 
}
/*Fim segunda sessão*/
/*inicio Terceira sessão*/
.terceira-section{
    padding: 160px;
    background-image: url(imagens/wrestler-149840_1280.png); /*img*/
    background-position-x: center center; /*posição img*/
    background-size: cover; /*preenchimento img*/
    background-repeat: no-repeat;/*desabilitar reposição*/
    background-attachment: fixed;/*Fixação da imagem*/
    display: flex;
    justify-content: center;
}

.terceira-section button{
    padding: 10px;
    background-color: #f2ab07;
    color: black;  
}

/*Final da terceira sessão*/
/*Quarta sessão*/
.quarta-section {
    padding: 150px; /*preenchimento/tamanho da sessão*/
    background-color: black;/*cor de fundo*/
    display: flex;/*deixando as divs lado a lado*/
    gap: 15px;/*espaço entre as caixas*/
    justify-content: space-evenly;/*justificando o conteudo*/
}

.quarta-section div{ /*Estilizando as div/caixa total3*/
    width: 300px;/*largura da caixa*/
    height: 300px;/*altura da caixa*/
    background-color: rgba(128, 128, 128, 0.85);/*cor de fundo*/
    color: white; /* cor da letra*/
    text-align: center;/*alinhando o texto ao centro*/
    padding: 15px;/*margem interna da caixa*/
 
}

.div-01 i{
   color: #f2ab07;
}



.div-02{ /*Aqui estamos alterando a segunda caixa/div*/
    background-image: url(imagens/lulamolusco.jpg);/*Inserindo IMG*/
    background-size: cover;/*Aplicando o preenchimento total*/
}
.div-03 img{
    width: 100px;
    height: 100px;
}
.div-03 p{
    font-size: 17px;/*Tamanho da letra*/
    color: white;/*Cor da letra*/
    font-weight: 600;/*Peso da fonte*/
    line-height: 20px; /*Distancia entre as linhas */
}


footer{
    padding: 25px;
    background-color: black;
    text-align-last: center;/*momentaneo*/
}

footer p{
    color: #f2ab07; /*cor da letra*/
    font-size: 25px;/*tamanho da letra*/
}

footer i{
    color: #f2ab07;/*cor do icone*/
    font-size: 20px;   /*tamanho do icone*/
}











